<%= form_with model: @post, local: true do |f|%>

  <div class="field">
    <%= f.label :image, "弁当の画像" %><br />
    <%= f.file_field :image, id:"bento_image" %>
  </div>
  
  <div class="field">
    <%= f.label :title, "弁当のタイトル" %><br />
    <%= f.text_field :title, id:"bento_title" %>
  </div>

  <div class="field">
    <%= f.label :menu, "弁当のメニュー" %><br />
    <%= f.text_area :menu, class: :form__text, id:"bento_menu" %>
  </div>

  <div class="field">
    <%= f.label :recipe, "弁当のレシピ" %><br />
    <%= f.text_area :recipe, class: :form__text, id:"bento_recipe" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>